<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Awesone Quotes</a>
    <form class="d-flex">
      <a href="https//www.workonline.com" style="text-decoration: none; color: black;">Create Quote</a>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-slides></app-slides>
    </div>
    <div class="col-6">
      <app-quote-form></app-quote-form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-quotes></app-quotes>
    </div>
    <div class="col-6">
      <img src="./assets/quotes/trumpt.jpg" id="roundone">
    </div> 
  </div>

  <!-- Implentation of footer -->
  <div class="footer" id="foot">
    <div class="container">
      <div class="col-12">
        <a href="https://www.facebook.com/"><img src="./assets/social/facebook.png" alt=""></a> 
        <a href="https://www.instagram.com/"><img src="./assets/social/rely.jpg" alt=""></a> 
        <a href="https://www.tiktok.com/en/"><img src="./assets/social/tiktok.png" alt=""></a> 
        <a href="https://www.whatsapp.com/"><img src="./assets/social/whatsapp.png" alt=""></a> 
      </div>
      <div class="col-12">
        <p>All rights Reserved @2022. <span> Awesome Quotes</span></p> 
      </div>
    </div>
  </div>
</div>

