<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Awesone Quotes</a>
    <form class="d-flex">
      <a href="https//www.workonline.com" style="text-decoration: none; color: black;">Create Quote</a>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-slides></app-slides>
    </div>
    <div class="col-6">
      <app-quote-form></app-quote-form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-quotes></app-quotes>
    </div> 
  </div>
</div>

