
.navbar-brand{
    font-family: 'Akronim', cursive;
    font-size: 23px;
}

.d-flex{
    font-family: 'Akronim', cursive;
    font-size: 20px;
    text-decoration: none;
}
.d-flex:hover{
    font-size: 20px;
    text-decoration: none;
    color: rgb(65, 5, 65);
    border: 2px solid yellow;
    border-radius: 50%;
    background-color: aqua;
}
#roundone{
    height: 40vh;
    width: 30vw;
    border: 2px solid gold;
    border-radius: 60%;
    text-align: center;
    margin-left: 5%;
    margin-top: 6%;
}
#foot{
    text-align: center;
    background-color: rgb(64, 73, 73);
    border-radius: 50%;
}
#foot img{
    height: 34px;
    width: 34px;
    border: 1px solid saddlebrown;
    border-radius: 50%;
    margin:5px;
}
#foot p{
    color: aliceblue;
}
#foot span{
    color: rgb(152, 201, 119);
}