<!-- The implementation of quotes. -->

<div class="container">
    <div class="row">
        <h2>Awesome Quotes</h2>
    </div>
    <ul>
        <div *ngFor = 'let quote of quotes; let i = index'>
        <li>
           <p>My Quote: (My Name is: <span style="color: rgb(24, 138, 138); font-weight: bolder;">{{quote.name}}</span> | my quote's authors is: <span style="color: red; font-weight: bolder;">{{quote.author}}</span> | and the quote is: <span style="color: darkblue; font-weight: bolder;">{{quote.quote}}</span> | Date of the quote is: <span style="color: yellowgreen; font-weight: bolder;">{{quote.published}}</span>)</p>
        </li>
        </div>
    </ul>
    <!-- <p *ngIf='quotes.length > 0'> Your Quotes are all Awesome </p> -->
</div>

<div class="container">
    <div class="row">
        <div class="col-6" style="text-align: center;">
            <!-- <p>*ngIf='(isComplete) = 'quoteDelete($event,i)'</p> -->
            <button (click)= 'deleteQuote(true)'>Delete Quote</button> 
        </div>
        <div class="col-2">
            <!-- <button (click)= 'deleteQuote(true)'><img src="./assets/social/upvote.jpg" alt=""></button>  -->
        </div>
        <div class="col-2">
            <!-- <button (click)= 'deleteQuote(true)'><img src="./assets/social/downvote.jpg" alt=""></button>  -->
        </div>
    </div>
</div>