.container-fluid{
    height: 45vh;
    width: 100%;
}
#complete{
    color: black;
    border: 4px solid red;
    border-radius: 18%;
    margin-left: 3%;
}
#quotebutton{
    margin-left: 4%;
    border-radius: 55%;
}