<p id="display" style="border: 1px solid green; border-radius: 5%;">My Name is: <span style="color: rgb(24, 138, 138); font-weight: bolder;">{{quote.name}}</span> and my quote's authors is: <span style="color: red; font-weight: bolder;">{{quote.author}}</span> and it has taken <span style="color: yellowgreen; font-weight: bolder;">{{quote.published|dateCount}} Days</span> since the quote was published.</p>


<div class="text-center">
    <div class="value">
      <a class="blacken" href (click)="voteUp()">
        <button style="border-radius: 50%;"><img src="./assets/social/upvote.jpg" alt=""> </button>
      </a>
      <span>{{ votes }} Votes</span>
      <a class="blacken" href (click)="voteDown()">
       <button style="border-radius: 50%;"><img src="./assets/social/downvote.jpg" alt=""></button>
      </a>
    </div>
  </div>

