.container-fluid{
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgb(0,0,0,0.5)),url('../../assets/background/backtwo.jpg');
}
#complete{
    color: black;
    border: 4px solid red;
    border-radius: 18%;
    margin-left: 3%;
}
#quotebutton{
    margin-left: 4%;
    border-radius: 55%;
}
.text-center{
    font-family: 'Akronim', cursive;
    color: red;
}